*{margin: 0; padding: 0;}
body{ 
	color: #333;}
div{

}

.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fe6081;
	text-align: center;
}

.box input{
	border: 0;
	background: none;
	display: block;
	margin: 25px auto;
	text-align: center;
	border: 2px solid #333;
	padding: 14px 10px;
}